/* ==================================================== WHOLE BODY ==================================================== */

* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    overflow: hidden;
}

body {
    background: linear-gradient(to top, #A020F0, #4B6CFB);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================================================== BACKGROUND IMAGE ================================================ */

#container {
    background: url(imgs/00-\ BACKGROUND-IMAGE.jpg) no-repeat center center;
    border-radius: 15px;
    background-size: cover;
    background-attachment: fixed;
    width: 80%;
    height: 90%;
    overflow: hidden;
    box-shadow: 3px 40px 90px black;
    opacity: 0.9;
}

/* ====================================================== ELSE ======================================================== */

/* ---------------- -:( USER ICON IMAGE ):- ---------------- */

#user-icon {
    display: flex;
    align-items: center;
    height: 50%;
    padding-left: 10%;
    width: 80%;
}

#user-img {
    width: 20vmin;
    height: auto;
}

/* RESPONSIVNESS OF USER ICON */

@media (max-width: 1281px) {
    #user-icon {
        justify-content: center;
    }
}

@media (max-width: 474px) {
    #user-img {
        width: 40vmin;
    }
}

/* ---------------- -:( USER EMAIL & PASSWORD DIV ):- ----------------- */

#email,
#pass {
    width: 43vmin;
    height: 5vmin;
    border: 1px solid rgba(255, 255, 255, 0.711);
    border-radius: 20px;
    margin: 20px;
}

#email:focus-within,
#pass:focus-within {
    border-color: #fff;
}

#email label,
#pass label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#email input,
#pass input {
    background: transparent;
    border: none;
    width: 80%;
    height: 100%;
    outline: none;
}

#email input::placeholder,
#pass input::placeholder {
    font-size: 18px;
}

#email input::placeholder:focus-within,
#pass input::placeholder:focus-within {
    font-size: 18px;
}

/* RESPONSIVNESS OF USER ICON */

@media (max-width: 1281px) {
    #user-icon {
        justify-content: center;
    }
}

@media (max-width: 474px) {
    #user-img {
        width: 40vmin;
    }
}

