* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
  font-family: "Inter", sans-serif;

    
}

.main {
    display: flex;
  

}

#left-sec{
   width: 50%;
   height: 100vh;
}

#logo {
    width: 150px;
}


#right-sec{
   width: 50%;
   height: 100vh;
   background-color: #004052;
   color: white;
   position: relative;
  
}



#dashbord-img{
  position: absolute;  
  top: 20%;
  right: 20%;
  width: 70%;
   height: auto;
 

  
}
     /* dashboard img responsiveness */

@media (max-width: 1200px) {
  #dashbord-img {
    width: 80%;
    right: 12%;
    top: 18%;
  }
}
@media (max-width: 900px) {
  #dashbord-img {
    width: 85%;
    right: 5%;
    top: 15%;
  }
}

@media (max-width: 600px) {
  #right-sec {
    display: none;
  }
}
