/* ==================================================== WHOLE BODY ==================================================== */

* {
    margin: 0%;
    padding: 0%;
}

/* html, body {
    overflow: hidden;
} */

body {
    background: linear-gradient(to top, #A020F0, #4B6CFB);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
  background: url(00-\ BACKGROUND-IMAGE.jpg) no-repeat center center;
  border-radius: 15px;
  background-size: cover;
  background-attachment: fixed;
  width: 80%;
  height: 90%;
  overflow: hidden;
  box-shadow: 7px 30px 60px black;
}
